
.user{
    margin-left: 1300px;
    margin-top: -30px;
    font-size: 22px;
    
}
.bell{
     margin-left: 1240px;
     margin-top: -25px;
     font-size: 22px;
}
.video{
    margin-left: 1180px;
    margin-top: -25px;
    font-size: 22px;
}
.microphone{
    margin-left: 925px;
    margin-top: -30px;
    font-size: 22px;
}
.bar{
    height: 40px;
    width: 500px;
    margin-left: 400px;
    margin-top: -90px;
    border-radius: 30px;
    border-style: groove;
    
}
.yt{
    margin-left: 80px;
    margin-top: -25px;
    font-size: 22px;
}
.menu{
    margin-left: 25px;
    margin-top: 30px;
    font-size: 20px;
}
.ar{
    border-style:none;
    width: 95px;
    padding: 2px;
    border-color: #ced9d0;
    border-radius: 10px;
    margin-left: 930px;
    margin-top: -20px;
}
.game{
    margin-left: 820px;
    margin-top: -20px;
}
.ani{
    margin-left: 640px;
    margin-top: -20px;
}
.live{
    margin-left: 570px;
    margin-top: -20px;
}
.naruto{
    margin-left: 480px;
    margin-top: -20px;
}
.music{
    margin-left: 380px;
    margin-top: -20px;
}
.all{
    margin-top: 30px;
    margin-left: 300px;
}
.vj{
    margin-left: 1170px;
    margin-top: -20px;
}
.not{
    margin-left: 1070px;
    margin-top: -20px;
}
.obito{
    margin-top: 20px;

}
.vebbox{
    margin-top: 20px;
}
.sub{
    margin-top: 20px;
}
.like{
    margin-top: 20px;
}
.later{
    margin-top: 20px;
}
.list{
    margin-top: 20px;
}
.history{
    margin-top: 20px;
}
.channel{
    margin-top: 20px;
}
.you{
    margin-top: 20px;
}
.sub1{
    margin-top: 20px;
}
.shorts{
    margin-top: 20px;
}
.home{
    margin-top: px;
}
.naruto1{
    margin-top: 20px;
}
.life{
    margin-top: 20px;
}
.vj1{
    margin-top: 20px;
}
.vlog{
    height: 170px;
    width: 300px;
}
.naruto3{
    margin-left: 1000px;
    margin-top: -173px;
}
 .onepiece{
    height: 150px;
    width: 300px;
 }
 .bike{
    height: 165px;
    width: 300px;
 }
 .ruturaj{
    margin-left: 650px;
    margin-top: -170px;
 }
 .naruto6{
    margin-left: 300px;
    margin-top: -510px;
 }
 .ladakh{
    margin-left: 1000px;
    margin-top: -170px;
 }
 .naruto4{
    margin-left: 650px;
    margin-top: -170px;
 }
 .siddhu{
    margin-left: 300px;
    margin-top: -120px;
 }
 .p1{
    margin-left: 340px;
 }
 .p2{
    margin-left: 700px;
    margin-top: -70px;
 }
 .p3{
    margin-left: 1040px;
    margin-top: -60px;
 }